* {padding: 0; margin: 0;}
a {text-decoration: none; color: #01A9DC;}

body {background-color: #EAEAEA; width: 100%; height: 100%; font-family: Arial, sans-serif; font-size: 13px; color: #474747;}

#main {width: 80%; margin: 0 auto; padding: 50px 0;}

header {}
header .logo-container {padding: 0 0 30px 0;}
header .logo {}

header nav {background: #292929; width: 100%;}
header nav ul {list-style: none; line-height: normal; /*text-align: center;*/ padding: 0 50px;}
header nav li {display: inline-block; padding: 20px 30px; color: #CCC; font-weight: bold;}
header nav li:hover {background: #01A9DC; color: #FFF;}

section {background: #FFF; width: 100%;}

.problem-form {width: 80%; margin: 0 auto; padding: 20px 0;}
.problem-form .section-title {padding: 10px 0;}
.problem-form label {color: #474747; font-size: 14px;}
.problem-form input {width: 97.5%; height: 22px; border: 1px solid #EAEAEA; border-radius: 5px; padding: 5px 10px; margin: 5px 0 10px; outline: none;}
.problem-form #map {width: 100%; height: 400px; margin-bottom: 20px;}
.problem-form .small-input {display: inline; width: 200px;}

.red {color: red;}